html { 
    background: url(https://d32f7pyncfosf1.cloudfront.net/400/serengeti_plain.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
    /* background-image: linear-gradient(black,gold); */
    line-height: 2rem;
    text-align: center;
  }
.imgFormat {
   
    
    opacity: .8;
  
    
}